<nav style="display:flex; height:100px; width:100vw">
    <div style="height:30px;">
        <img src="https://picsum.photos/286/180"  alt="paysage">
    </div>
    <ul style="display:flex;">
        <li><a href="#">Accueil</a></li>
        <li><a href="#">Services</a></li>
        <li><a href="#">Contact</a></li>
    </ul>
</nav>