<nav style="display:flex; height:100px; width:100vw">
    <div style="height:100%;">
        <img src="https://picsum.photos/286/180"  
            alt="paysage"
            style="height:100%; object-fit:cover;"
        >
    </div>
    <ul style="display:flex; list-style-type: none;">
        <li style="padding:12px;"><a href="#">Accueil</a></li>
        <li style="padding:12px;"><a href="#">Services</a></li>
        <li style="padding:12px;"><a href="#">Contact</a></li>
    </ul>
</nav>